<header class="jumbotron text-light rounded-0 d-none d-md-block">
    <div class="container ">
        <div class="jumbotron-text mt-5 text-center">
            <h1 class="display-3 jumbotronText">Welcome to YelpCamp!</h1>
            <p class="lead jumbotronText">View campgrounds from all over the world</p>
        </div>
    </div>
</header>