<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <div class="container">
    </div>

    <div id="landing-header">
        <h1 class="display-4">Welcome to YelpCamp!</h1>
        <a href="/campgrounds" class="btn btn-danger btn-lg">View Campgrounds</a>
        <a href="/login" class="btn btn-light btn-lg">Log In</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include ("./partials/scripts") %>

</body>
</html>